extends layout

block content
    canvas(id='dateRegistered')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/chart.bundle.min.js')
    script(src='/javascripts/date-registered.js')