extends layout

block content
    div(class='container center-div')
        h1(class='text-center')
            img(src='icons/coffee.svg' width='50' height='50' class='rotate')
            = 'FAQ'

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span #[strong What happens once I've registered?]
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | You’ll receive 3 emails:
                br
                ul
                    li The first will ask you to verify your email address. Click the link in the verification email to be verified.
                    li The second will be a confirmation of you signing up to Curious Coffee.
                    li The third will be sent once you have been matched - be patient as this may not be straight away.
            div(class='col-sm-2')
        br

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span #[strong Who arranges the meeting?]
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | You both arrange the meet-up, working as one! Don’t forget to discuss with your line manager. 
            div(class='col-sm-2')
        br

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span #[strong Do we have to clock out?]
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | Only if you leave the building.
            div(class='col-sm-2')
        br

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span #[strong Do we get a voucher for the ‘coffee’?]
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | No, it’s over to you to sort that out, Curious Coffee is just a tool to link you up.
            div(class='col-sm-2')
        br

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span #[strong Can I choose the directorate of the person to link with?]
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | No, it’s early days and this could be part of the development going forward.
            div(class='col-sm-2')
        br

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span #[strong What if I don’t want to meet with that person?]
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | You’ve already been curious to join up to try this approach, be bold and meet with them, we’re all colleagues at the end of the day. 
            div(class='col-sm-2')
        br

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span #[strong How many times can I try this?]
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | You can try it again if you like it, of course discuss with your line manager first.
            div(class='col-sm-2')
        br

        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span 
                    | If you have any other questions, please use the #[a(href='/feedback') feedback] option or get in touch
            div(class='col-sm-2')
        div(class='row align-items-center')
            div(class='col-sm-2')
            div(class='col-sm-8')
                span
                    | #[a(href='mailto: brilliant@companieshouse.gov.uk') brilliant@companieshouse.gov.uk]
            div(class='col-sm-2')