extends layout

block content
  div(class='container center-div')
    h1(class='text-center')
      img(src='icons/coffee.svg' width='50' height='50' class='rotate')
      = '#CuriousCoffee'
    div(class='row')
      div(class='col-sm-2')
      div(class='col-sm-8')
        span 
          | #CuriousCoffee is an initiative designed to allow you to meet other people,
          | from other departments, in Companies House.
          | To get started, just click the Register link above.