doctype html
html
    head
        title= 'Curious Coffee'
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
        link(rel='stylesheet' href='/stylesheets/custom.css')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Amatic+SC")
        link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css")

    body
        img(src='/icons/chameleon.png' class='force-img-load')
        //div(class='jumbotron')
        div(class='jumbotron pull-right')
            div(class='row')
                div(class='col-sm-11 vertical-center text-right')
                    h1(class='banner-header') Are you curious?
                div(class='col-sm-1')
                    img(src='/icons/chameleon.png')
        div(class='container')

            block navBar

                nav(class='navbar navbar-expand-lg navbar-light bg-light justify-content-between')
                    button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                        span(class='navbar-toggler-icon')
                    div(class='collapse navbar-collapse' id='navbarSupportedContent')
                        a(class='navbar-brand' href='/')
                            img(src='/icons/coffee.svg' width='70' height='70' class='rotate')
                        ul(class='navbar-nav mr-auto')
                            li(class='nav-item')
                                a(class='nav-link' href='/register') Register
                            li(class='nav-item')
                                a(class='nav-link' href='/feedback') Feedback
                            li(class='nav-item')
                                a(class='nav-link' href='/faq') FAQ
                            li(class='nav-item')
                                a(class='nav-link' href='/participants-by-department') Participants by department
                        ul(class='navbar-nav ml-auto')
                            li(class='nav-item dropdown')
                                a(class='nav-link dropdown-toggle' href='#' id='navbarDropdownAdmin' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Admin
                                div(class='dropdown-menu' aria-labelledby='navbarDropdownAdmin')

                                    if session.user
                                        a(class='nav-link' href='/admin/participants/all') All Participants
                                        a(class='nav-link' href='/admin/participants/remove') Remove participant

                                        a(class='nav-link' href='/admin/matches/match') Match
                                        a(class='nav-link' href='/admin/matches/all') Matched
                                        a(class='nav-link' href='/admin/matches/cleanup') Clean up matches
                                        a(class='nav-link' href='/admin/matches/email') Email

                                        a(class='nav-link' href='/date-participants-registered') Date participants registered
                                    else 
                                        a(class='nav-link' href='/admin') Log in
            block content

            footer(class='fixed-bottom bg-dark')
                div(class='container')
                    span(class='footer-text') Created by Dafydd Rosser

            script(src='/javascripts/jquery.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
            script(src='/bootstrap/js/bootstrap.min.js')
            script(src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js")