extends layout

block content
    h1(class='text-center')
        img(src='icons/coffee.svg' width='50' height='50' class='rotate')
        = 'Match'

    div(class='row align-items-center')
        div(class='col-sm-2')
        div(class='col-sm-8')
            div(class='alert alert-warning', role='alert')
                span 
                    | The button below will match participants with other participants 
                    | from other departments. Any participants who do not get matched with
                    | other users will miss this round of #CuriousCoffee. 

    form(method='POST' action='/match')
        div(class='row')
            div(class='col-sm-4')
            div(class='col-sm-2')
                button(class='btn btn-primary custom-button' type='submit') Match