extends layout

block content
    h1(class='text-center') 
        img(src='/icons/coffee.svg' width='50' height='50' class='rotate')
        = 'Matched participants'

    table(class='table table-striped' data-toggle='table')
        thead(class='thead-dark')
            tr
                th(scope='col' data-sortable='true' data-field='name1') Name
                th(scope='col' data-sortable='true' data-field='department1') Department
                th(scope='col' data-sortable='true' data-field='name2') Name
                th(scope='col' data-sortable='true' data-field='department2') Department
                th(scope='col') Edit
        each match, index in matches
            tr
                td= match.person_1.name
                td= match.person_1.department
                td= match.person_2.name
                td= match.person_2.department
                td
                    a(href='/admin/matches/edit/' + match._id) Edit

    script(src='/javascripts/jquery.min.js')