extends layout

block content
    h1(class='text-center')
        img(src='icons/coffee.svg' width='50' height='50' class='rotate')
        = 'Participants'

    div(class='just-padding')
        div(class='list-group list-group-root')
            each participant, index in participants
                div(class='row')
                    div(class='col-sm-4')
                    div(class='col-sm-4')
                        a(href='#item-' + index class='list-group-item' data-toggle='collapse')
                            span(class='text-dark')= participant.name
                        div(class='list-group collapse' id='item-' + index)
                            div(class='list-group-item pl-5 bg-light')
                                span= participant.email
                            div(class='list-group-item pl-5 bg-light')
                                span= participant.department

    script(src='/javascripts/jquery.min.js')