extends layout

block content
    h1(class='text-center')
        img(src='icons/coffee.svg' width='50' height='50' class='rotate')
        = 'Participants'

    table(class='table table-striped')
        thead(class='thead-dark')
            tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Department
        each participant, index in participants
            tr
                th(scope='row')= index + 1
                td= participant.name
                td= participant.email
                td= participant.department

    script(src='/javascripts/jquery.min.js')