extends layout

block content
    h1(class='text-center') 
        img(src='icons/coffee.svg' width='50' height='50' class='rotate')
        = 'Verify all participants'

    div(class='row align-items-center')
        div(class='col-sm-2')
        div(class='col-sm-8')
            div(class='alert alert-warning', role='alert')
                span 
                    | Press the button below to send an email to prompt any participant
                    | who hasn't yet verified to verify their email. 

    form(method='POST' action='/verifyAll')
        div(class='row')    
            div(class='col-sm-4')
            div(class='col-sm-2')
                button(class='btn btn-primary custom-button' type='submit') Verify