.custom-button {
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  
}

.custom-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 4px 10px rgba(46, 229, 157, 0.4);
}

.custom-form-control {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  
}

.custom-form-control:hover {
    border-color: #2EE59D;
    box-shadow: 0px 4px 10px rgba(46, 229, 157, 0.4);
}

.custom-form-control:focus {
    border-color: #2EE59D;
    box-shadow: 0px 4px 10px rgba(46, 229, 157, 0.4);
}

.custom-checkbox {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  
}

.custom-checkbox:hover {
    background-color: #2EE59D;
    box-shadow: 0px 4px 10px rgba(46, 229, 157, 0.4);
}

.just-padding {
    padding: 15px;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.rotate { 
    transition-duration: 0.8s; 
    transition-property: transform; 
    overflow: hidden; 
}
.rotate:hover { 
    transform: rotate(360deg); 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2EE59D;
}

.navbar-light .navbar-nav .dropdown-item:hover {
    color: #2EE59D;
}


.force-img-load {
    display:none;
}

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E9BF41;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 0 !important;
}

i.fa {
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
    color: #636363;
}

.footer-text {
    color: #D3D5D9;
}

.banner-header {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    color: #f8f9fa;
}

.vertical-center {
    position: relative;
    top: 50%;
}