extends layout

block content
    canvas(id='participants')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/chart.bundle.min.js')
    script(src='/javascripts/participants-by-department.js')