extends layout

block content
    h1(class='text-center')
        img(src='/icons/coffee.svg' width='50' height='50' class='rotate')
        = 'Participants'

    table(class='table table-striped' data-toggle='table')
        thead(class='thead-dark')
            tr
                th(scope='col' data-sortable='true' data-field='name') Name
                th(scope='col' data-sortable='true' data-field='email') Email
                th(scope='col' data-sortable='true' data-field='department') Department
        each participant, index in participants
            tr
                td= participant.name
                td= participant.email
                td= participant.department

    script(src='/javascripts/jquery.min.js')